  <div class="resource" style="width:90%; border: 0px solid #333333; margin: 0px auto">
   <table width="100%">
    <tr>
     <td width="200" valign="top">
       <%= @resource.html if @resource.html %>
       <%= link_to( image_tag( @resource.thumbnail, :size => "200x200", :style => "border: 1px solid #{@resource.color};" ), @resource.url ) unless @resource.html %>
       <% if @map %>
        <div id="map_div">
          <b>map</b>
          <%= @map.to_html %>  
          <%= @map.div(:width => 300, :height => 200) %>
	</div>
       <% end %>
     </td>
     <td valign="top">
      <h3><%= @resource.title %> - <%= @resource.time.strftime("%H:%M %d.%m.%Y") %></h3>
      <br clear="all">
      <%= @resource.text.gsub!(/\n/, '<br/>') if @resource.text %>
      <div id="annotations">
      
       <% type = '' %>
       <ul>       
        <% @resource.annotations.each do |annotation| %>
          <% if type != annotation.type -%>
          <% type = annotation.type %>
           </ul><ul>
	     <li><b><%= link_to annotation.type.to_s.capitalize %> </b></li>
          <% end %>	     
	  <%= render( :partial => "partials/annotation", :object => annotation ) %> 
        <% end %>
       </ul>
	
      </div>
     </td>
     <td valign="top" width="200">
       <div id="relations">
        <b>related resources</b>
	<ul id="resources">
	  <%= render :partial => "relation_group", :collection => Resource.annotation_types 
	  %>
	  <li>via Resources after:
            <ul>
             <%= render :partial => "relation", :collection => @resource.related_resources( :period => 2.days, :limit => 10 ) 
	     %>
            </ul>
	   <br clear="all">
	  </li>
	  <li>via Resources before:
            <ul>
             <%= render :partial => "relation", :collection => @resource.related_resources( :period => -2.days, :limit => 10 ) 
	     %>
            </ul>
	   <br clear="all">
	  </li> 
	</ul> 
       </div>
     </td>
    </tr>
   </table>
  </div>
