<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>WhoAmI - who are you? | <%= controller.action_name %></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <div style="margin:0px auto; width:700px; text-align:center;">
      <h2 style="margin:0; padding:0; margin-top:    80px; font-weight: bolder; border:0; color:#0A5B66;  ">WhoAmI</h2>
      <h1 style="margin:0; padding:0; margin-bottom: 40px; font-weight: 900;    border:0; font-size: 40pt;"><em>who are you?</em></h1>
      
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
      
      <%= link_to_remote( 'login',  :url => new_session_path,  :method => :get, :update => 'content' ) %>
      <%= link_to_remote( 'signup', :url => signup_path,       :method => :get, :update => 'content' ) %>
      <div id="content">
        <%= yield  %>
      </div>
      <br><br>
      <div style="margin:0px auto; width:450px;text-align:left;">
      <b>WhoAmI</b> is a tool to aggregate your personal media shared on the Internet.
      The data is visualized via tagcloud, timeline, map or in detail. For further processing, your media can be accessed via web feed or iCal.
      Altogether, it is a perfect tool to gain self-awareness on your virtual identity on the Internet.<br>
      <br>
      WhoAmI was developed during my 'Diplomarbeit' (similar to master thesis) 'mediated Identity'
      @ the DFKI Kaiserslautern, TU Kaiserslauern<br>
      <center>
        <a href="http://whoami.opendfki.de" target="_blank">WhoAmI Project Page</a><br><br>
        <%= link_to image_tag( 'dfki.jpg' ), 'http://www.dfki.de/web/research/km/index_html' %>  <%= link_to image_tag( 'tukl.png', :height => '40' ), 'http://www.uni-kl.de' %>
      </center>
      </div>
    </div>  
  </body>
</html>
