<p style="color: red; text-align:center;"><%= flash[:error] %></p>
<div class="formbox">
  <h3><%= image_tag "/images/accounts/#{@account.type}.png" %> Add  <%= "#{@account.type.capitalize}" %> Account&nbsp;<%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none' %></h3>
  <% form_for :account, @account, :url => accounts_path( :username => @user.login ), :html => { :method => :post } do |form| %>
    <%= hidden_field_tag :type, @account.type %>
    <% if @account.requires_host? -%>
    <label for="host">Host:</label><%= form.text_field :host %>
      <%= observe_field :account_host, 
      :frequency => 2, 
      :update => 'checked_host', 
      :before => "Element.show('spinner')", 
      :complete => "Element.hide('spinner')", 
      :url => check_host_new_account_path( :type => @account.type, :username => @user.login ),
      :method => :get,
      :with => "'host=' + encodeURIComponent(value)"
     %> 
    <div id="checked_host"></div>
    <% end %>
    <% if @account.requires_user? -%> 
      <label for="name">Username:</label><%= form.text_field :username %>
    <% end %>       
    <% if @account.requires_password? -%>
      <label for="password">Password:</label><%= form.password_field :password %>
      <em>Password is optional - however, more data can be fetched if password is provided</em>
    <% end %>
    <p><%= submit_tag "save", :disable_with => "saving&hellip;" %></p>
  <% end %>
</div>
