  <% @alert_msg = "Sorry, nothing found." if @resources.empty? %>
  <% @alert_msg = "Sorry, no resources fetched yet. Please be patient and check again in short time." if @account.resources.empty? %>
  
  <h4>Account View: <%= @resources.empty? ? 0 : @resources.size %> found for&nbsp;<%= image_tag "/images/accounts/#{@account.type}.png", :style => "border: 1px solid #{@account.color}; margin-bottom:-4px;" %> - User: <em><%= @account.username %></em> -
  <%= link_to 'edit',   edit_account_path( :id => @account, :username => @user.login ) -%>
  <%= link_to 'delete', account_path( :id => @account, :username => @user.login ), :method => :delete, :confirm => "Are you sure?" -%></h4>&nbsp;
  <%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none' %><br clear="all">
  
  <%= render( :partial => "partials/resources" ); %>
